[submodule "core-v-cores/cv32e20"]
	path = core-v-cores/cv32e20
	url = https://github.com/synthara/rv2.git
[submodule "cv32e20"]
	path = cv32e20
	url = https://github.com/ValerioVenceslai-synthara/cv32e20-dv.git
